@import "normalize";
@import "variables";
@import "helpers";
@import "fonts";
@import "header&footer";
@import "sections";

body {
    font-size: $base-font-size;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}